<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>checkApp</title>
    <style>
        body {
            background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1574615673119&di=5ef652e88f722fae505852dd3b6ffc55&imgtype=0&src=http%3A%2F%2Fbpic.ooopic.com%2F18%2F36%2F60%2F18366078-d9ccb9b283f3611156b2db8b7dcf17d3-4.jpg);
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-color:#cccccc;
        }
    </style>
</head>

<body>

    <form action="/checkApp" method="POST" class="well"
          style="margin: auto; margin-top: 150px;">
        <div style="text-align: center;">
        <h3>根据ID搜索工业APP审核信息</h3>
            <br/><br/>
        <label><input type="text" name="id"/></label>
            <br/><br/>
        <input type="submit" value="搜索"/>
            <br/>
            <br/>
        <h3>最新工业APP审核信息：</h3>
            <br/>
        <a th:text="${String0}"></a>
        <br/><br/>
        <a th:text="${String1}"></a>
        </div>
    </form>
    <form action="/index" method="POST" class="well"
          style="margin: auto; margin-top: 50px;">
        <div style="text-align: center;">
        <input type="submit" value="账号退出">
        </input>
        <br/>
        <br/>
        <br/>
        </div>
    </form>

</body>
</html>