<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>checkAppid</title>
    <style>
        body {
            background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1574615673119&di=5ef652e88f722fae505852dd3b6ffc55&imgtype=0&src=http%3A%2F%2Fbpic.ooopic.com%2F18%2F36%2F60%2F18366078-d9ccb9b283f3611156b2db8b7dcf17d3-4.jpg);
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-color:#cccccc;
        }
    </style>
</head>

<body>

    <form action="/update" method="POST" class="well"
          style="margin: auto; margin-top: 100px;">
        <div style="text-align: center;">
        <h3>修改工业APP审核信息</h3>
        <a th:href="@{'/checkApp?id='+${Aid}}" th:text="'工业APP id: '+${Aid}"></a>
        <br/>
        <br/>
        <label><input type="hidden" name="id" th:value="${Aid}"/></label>
        <br/>
        工业APP名称：
            <br/>
            <label><input type="text" name="name"/></label>
        <br/><br/>
        工业APP审核状态：
            <br/>
            <label><input type="text" name="audit_status"/></label>
        <br/><br/>
        工业APP分类：
            <br/>
            <label><input type="text" name="classification"/></label>
        <br/><br/>
        工业APP名称符合规范：
            <br/>
            <label><input type="text" name="name_conforms"/></label>
        <br/><br/>
        工业APP安全等级：
            <br/>
            <label><input type="text" name="security_level"/></label>
        <br/>
        <br/>
        <input type="submit" value="更改"/>
        </div>
    </form>

</body>
</html>